body{
    background:#dbdbdb;
    grid-template-columns: 20% 60% 20%;
     grid-template-rows: 100%;
     grid-template-areas: ". main .";
 }
 .container{
    display:block;
    grid-area: main;
    width:100%;
    box-sizing: border-box;
 }
 
 .lbl{
     color:#212222;
 }
 #hd{
     margin-bottom:10px;
 }
 input{
    padding:5px;
    font-size: 1em;
    color:#212222;
    background:transparent;
    border:none;
    width:100%;
    border-bottom: 1px solid #1d1c1c;
    box-sizing: border-box;
    transition: all 0.7s ease;
}
input:active,input:focus{
    outline: none;
    border-bottom: 1px solid #c08505;
}

 select{
     display: inline-block;
     padding:5px;
     background:transparent;
     border-radius: 5px;
     margin:3px;
     border:none;
     color:#212222;
     border-bottom: 1px solid #98a7aa;
    box-sizing: border-box;
    transition: all 0.7s ease;
     
 }
 select:focus,select:active{
     outline:none;
     border-bottom: 1px solid #c08505;
 }
 option{
     color:#212222;
     background:#dbdbdb;
     border:none;
 }
 option:hover{
     background: #c08505;
 }
 .row{
    display: grid;
    grid-template-columns: 20% 30% 30% 20%;
    grid-template-rows: 100%;
    grid-template-areas: '. label info .';
 }
 
 .row > .label{
     grid-area: label;
     align-self: center;
     justify-self: center;
     color:#212222;
     font-size: 1em;
 }
 .row > .info{
     grid-area: info;
     align-self: center;
     justify-self: center;
     max-width: 250px;
     font-size: 1em;
 }

 .btn{
    grid-area: generate;
    align-self: center;
    justify-self: center;
    background: #c08505;
     color:#212222;
    position: relative;
    border:none;
    padding:5px;
    margin:2px;

}
.btn:after{
     content: '';
     z-index: -1;
     display:block;
     position: absolute;
     left:50%;
     top:50%;
     height:100%;
     width:100%;
     background: inherit;
     transition:all 0.5s ease;
     transform:translate(-50%,-50%);     
}
.btn:active,.btn:hover,.btn:focus{
    outline: none;
}
@keyframes pulse{
    0% {height:100%;
        width:100%;opacity: 1;}
    100% {height:140%;
        width:120%;opacity: 0;}
}
.btn:hover:after{
    animation: pulse 1s linear infinite;   
}
.btn:active{
    background:#d8970a;
}
.btn:active:after{
    animation: none;
    outline: none;
}

.connect{
    background:#74b933;
    color:#212222;
}
.connect:active{
    background: #81c73f;
    color:#212222;
}


#connection-status{
    margin: 0 10px 0 10px;
    color:#212222;
}
::-webkit-scrollbar{
    width: 5px;
    background:#fff;
  }
  
  ::-webkit-scrollbar-thumb{
      background: #d8970a;
  }