body{
    background:#202630;
    grid-template-columns: 20% 60% 20%;
     grid-template-rows: 100%;
     grid-template-areas: ". main .";
 }
 .container{
    display:block;
    grid-area: main;
    width:100%;
    box-sizing: border-box;
 }
 
 .lbl{
     color:#fff;
 }
 #hd{
     margin-bottom:10px;
 }
 input{
    padding:5px;
    color:#fff;
    background:transparent;
    border:none;
    width:100%;
    border-bottom: 1px solid #1290e3;
    box-sizing: border-box;
}
input:active,input:focus{
    outline: none;
}

 select{
     display: inline-block;
     padding:5px;
     background:transparent;
     border-radius: 5px;
     margin:3px;
     border:none;
     color:#fff;
     border-bottom: 1px solid #1290e3;
    box-sizing: border-box;
     
 }
 select:focus,select:active{
     outline:none;
 }
 option{
     color:#fff;
     background:#202630;
     border:none;
 }
 option:hover{
     background: #192436;
 }
 .row{
    display: grid;
    grid-template-columns: 20% 30% 30% 20%;
    grid-template-rows: 100%;
    grid-template-areas: '. label info .';
 }
 
 .row > .label{
     grid-area: label;
     align-self: center;
     justify-self: center;
     color:#fff;
     font-size: 1em;
 }
 .row > .info{
     grid-area: info;
     align-self: center;
     justify-self: center;
     max-width: 250px;
     font-size: 1em;
 }

 .btn{
    grid-area: generate;
    align-self: center;
    justify-self: center;
    background: #0b367c;
     color:#fff;
    position: relative;
    border:none;
    padding:5px;
    margin:2px;

}
.btn:after{
     content: '';
     z-index: -1;
     display:block;
     position: absolute;
     left:50%;
     top:50%;
     height:100%;
     width:100%;
     background: inherit;
     transition:all 0.5s ease;
     transform:translate(-50%,-50%);     
}
.btn:active,.btn:hover,.btn:focus{
    outline: none;
}
@keyframes pulse{
    0% {height:100%;
        width:100%;opacity: 1;}
    100% {height:140%;
        width:120%;opacity: 0;}
}
.btn:hover:after{
    animation: pulse 1s linear infinite;   
}
.btn:active{
    background:#2062db;
}
.btn:active:after{
    animation: none;
    outline: none;
}

.connect{
    background:#80e223;
    color:#000;
}
.connect:active{
    background: #4c8a12;
    color:#fff;
}


#connection-status{
    margin: 0 10px 0 10px;
    color:#ffffff;
}

::-webkit-scrollbar{
    width: 5px;
    background:#202630;
  }
  
  ::-webkit-scrollbar-thumb{
      background: #1290e3;
  }
  
  /* SELECT STYLE CSS */
  .select {
    display: inline;
    position:relative;
    margin:0;
    padding:0;
    }
.select > input{
    border:none;
    position:relative;
    border-bottom: 1px #1290e3 solid;
    }
.select > input:focus{
    outline:none;
    }
.select > ul.closed{
    display:none;
    list-style:none;
    left:0;
    top:100%;
    position:absolute;
    width:100%;
    margin:0;
    padding:0;
    max-height: 100px;
    overflow-y: scroll;
    background: #04548a;
    z-index:-1;
    }
.select > ul::-webkit-scrollbar{
    width:3px;
    background:transparent;
}
.select >ul::-webkit-scrollbar-thumb{
    background:#43adf3;
    
}
.select > ul > li{
    padding:3px;
}
.select > ul > li:hover{
    background:#1290e3;
    color:#fff;
}
.select > ul.opened{
    display:block;
    list-style:none;
    left:0;
    top:100%;
    position:absolute;
    width:100%;
    margin:0;
    padding:0;
    max-height: 200px;
    overflow-y: scroll;
    background: #04548a;
    box-shadow: 0px 1px 1px #262626;
    z-index:100;
}
.select > a {
    display:block;
    position:absolute;
    left:100%;
    top:0;
    height:15px;
    width:15px;
    margin:2px;
    transform:translateX(-100%);
    }

.select > a:after{
    content:'';
    display:block;
    position:absolute;
    left:0;
    top:0;
    height:15px;
    width:15px;
    margin:2px;
    background:#1290e3;
    transition:all 0.5s ease;
    
    }

.select .btn-show:after{
    clip-path: polygon(0% 40%, 0% 20%,50% 60%,100% 20%,100% 40%,50% 80%);
    }
.select .btn-close:after{
    clip-path: polygon(0% 60%, 0% 80%,50% 40%,100% 80%,100% 60%,50% 20%);
    }
/* SELECT STYLE CSS */